body {
    margin: 10px;
    background-color: #EFE9E6;
    font-family: 'Teko', sans-serif;
    ;
}

header {
    /* to control overflowed content */
    overflow: hidden;
    background-color: #EFE9E6;
    /* padding: 20px 10px; */

}

nav {
    background-color: #51539C;
    margin-right: 5px;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* background-image: url(images/teenGuide\ logo\ bubbly.png); */
    /* background-size: cover; */
}

/* link edit */
p{
    letter-spacing: 0.5px;
    word-spacing: 3px;
   
}
h6{
    font-weight: 100;
    font-style: italic;

}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #51539C;
}

a:visited {
    color: #51539C;
}

a:focus {
    /* border-bottom: 1px solid; */
    background: #51539C;
}

/* a:hover { */
/* border-bottom: 1px solid; */
/* background: #EECD3B; */
/* } */

a:active {
    /* background: #265301; */
    color: #EECD3B;
}

#book {
    background-color: #3a3838;
    /* border-radius: 10px; */
    /* padding: 10px; */
    color: #EECD3B;
    padding: 5px;
    margin-top: 5px;
}



/* ------------------- */


/* --------------------DropDown--------------- */

.dropbtn {
    background-color: #EECD3B;
    color: #51539C;
    padding: 10px 15px;
    /* font-size: 16px; */
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /* position: relative; */
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}








#logo {
    float: left;
}

.header-middle {
    display: flex;
    justify-content: space-around;
    background-color: #51539C;
    /* margin: 20px; */
    /* padding-left: 40%; */
    /* margin-left: 15%; */
    padding-top: 50px;
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
}

.header-middle a {
    background-color: #EECD3B;
    padding: 10px 15px;

    /* border-radius: 5px; */

}

/* image section for perview */
.bigger-div {
    margin-top: 10px;
    display: flex;
    background-color: #EFE9E6;
    /* height: 500px; */
    justify-content: center;
}








#images-right {
    flex-direction: column;
    display: flex;
    background-color: #EFE9E6;
    width: 30%;
    justify-content: space-around;
    /* to move the div to the right */
    /* margin-left: auto; */
}

#images-right div {
    /* flex 1 was used to fill all the available spaces evenly */
    /* flex: 1; */
    /* background-color: #7323b3; */
    /* justify-content: space-around; */
    margin: 0px 0px;
}

.bigger-div-news {
    /* margin-top: 200px; */
    display: flex;
    /* background-color: #c05621; */
    /* height: 500px; */
}

.bigger-div-news div {
    /* margin-top: 50px; */
    /* background-color: #149d46; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* margin-right: 5px; */
    margin: 10px 10px 0px 10px;
    padding-bottom: 0px;
}






/* for the image on the left */
.container-left {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: #EFE9E6;
}

.image-box-left {
    position: relative;
    width: 40%;
    /* adjust the width of the image-boxes to fit three images in a row */
    background-color: #EFE9E6;
}

.image-box-left img {
    width: 100%;
    height: 100%;
}

#images-left {
    background-color: #EFE9E6;
    width: 50%;
    /* margin-right: 5px; */
}

.image-text {
    /* to help contain the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* add a semi-transparent background color to the text */
    /* hide the text initially */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* add a transition effect to the text */
}

.image-box-left:hover .image-text {
    opacity: 1;
    /* show the text on hover */
}



/* --------Main News in Football Section---------- */

.container-football{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* flex-direction: column; */
    background-color: #EFE9E6;
}

.image-box-football {
    position: relative;
    width: 80%;
    /* adjust the width of the image-boxes to fit three images in a row */
    background-color: #EFE9E6;
}

.image-box-football img {
    width: 100%;
    height: 100%;
}

.images-football{
    background-color: #EFE9E6;
    width: 100%;
    justify-content: center;
    /* margin-right: 5px; */
}

.image-text-football{
    /* to help contain the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* add a semi-transparent background color to the text */
    /* hide the text initially */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* add a transition effect to the text */
}

.image-box-football :hover.image-text-football{
    opacity: 1;
    /* show the text on hover */
}







/* for the images on the right */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #EFE9E6;
}

.image-box {
    
    justify-content: space-around;
    position: relative;
    width: 65%;
    /* adjust the width of the image-boxes to fit three images in a row */
    background-color: #EFE9E6;
}

.image-box img {
    
    width: 100%;
    height: 100%;
}

.image-text {
 /* to help contain the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EECD3B;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* add a semi-transparent background color to the text */
    /* hide the text initially */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* add a transition effect to the text */
}

.image-box:hover .image-text {
    opacity: 1;
    /* show the text on hover */
}





.column {
    display: flex;  
    flex-direction: column;
    /* background-color: aquamarine; */
}

.wrapping {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    /* add some space between sections */
    /* margin-bottom: 20px; */
    /* background-color: chartreuse; */
}

.wrapping img {
    width: 50%;
    /* adjust the image width */
    margin-right: 5px;
    /* add some space between image and text */
    background-color: #EFE9E6;
}

.wrapping p {
    /* width: 100%; */
    /* adjust the text width */
    /* background-color: cornsilk; */
}

img{
    border-radius: 5px;
    
}



/* ----------article------------ */
.quick-news-container {
    display: flex;
    overflow: auto;
    /* height: 100px; */
    /* align-items: center;  */
    justify-content: space-around;
    /* background-color: #fff; */
    flex: 1;
}

.quick-news-container p {
    /* background-color: #3a3838; */
    text-align: center;
}

.quick-news-container img {
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    /* background-color: #EECD3B; */
}






/* ------Footer------ */
footer {
    background-color: #EECD3B;
    padding: 20px;
    margin: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex-basis: 50%;
}

.contact-info p {
    margin: 0;
    color: #000000;
}

.contact-info a {
    color: #51539C;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
}

#title {
    align-items: center;
}

#head-section {
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#vertical-center {
    /* line-height: 200px; */
    font-size: xx-large;
    letter-spacing: 4px;
}




/* ----picture collage for football page */

